.module.tab-pane.colored-wrapper.section#clients
  .container
    .row
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-eur
          h4= clientsLarge
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-laptop
          h4= clientsUniversities
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-laptop
          h4= clientsEntrepreneurs
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-laptop
          h4= clientsNonGovermental
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-laptop
          h4= clientsGovermental
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-laptop
          h4= clientsSpecialists