.module.tab-pane.section#clients
  .container
    .row
      p= clientsMain
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service
          span.service-icon(style="background-image: url(../img/clientCategories/corps.jpg);")
          h4= clients1
          .details
            p= clients1Details
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service
          span.service-icon(style="background-image: url(../img/clientCategories/SMEs.jpg);")
          h4= clients2
          .details= clients2Details
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service
          span.service-icon(style="background-image: url(../img/clientCategories/UNIVERSITIES.jpg);")
          h4= clients3
          .details= clients3Details
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service
          span.service-icon(style="background-image: url(../img/clientCategories/NGO.jpg);")
          h4= clients4
          .details= clients4Details
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service
          span.service-icon(style="background-image: url(../img/clientCategories/public.jpg);")
          h4= clients5
          .details= clients5Details