.module.tab-pane.section#ourContacts
  section#google-map.section.google-map-2
    .container
      iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2519.122396709719!2d4.3922799999999995!3d50.84741770000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c3588dd8bb15%3A0x1ffc42c269d5d375!2zTm90ZWxhYXJzc3RyYWF0IDE4MywgMTAwMCBCcnVzc2VsLCDQkdC10LvRjNCz0LjRjw!5e0!3m2!1sru!2sua!4v1429129470274&output=embed")
  section#contact-us.section.contact-us
    .container
      .row
        .col-md-4.wrapper-2          
          include contactForm.jade
        .col-md-8.wrapper-1#contactForm
          form.contact-form
            h5.subpage-title= getInTouch
            .row
              .col-md-4
                input.input.form-control(placeholder=name, type='text')
              .col-md-4
                input.input.form-control(placeholder='Email', type='text')
              .col-md-4
                input.input.form-control(placeholder=subject, type='text')
            textarea.form-control(placeholder=yourMessage, rows='3')
            button.btn.btn-flat.flat-color= submit
