.module.tab-pane.section#ourContacts
  section#google-map.section.google-map-2
    .container
      iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5933247070525!2d30.512189915944006!3d50.448675195373454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce59bf8805cb%3A0xcdccd093fcea3170!2z0LLRg9C7LiDQktC-0LvQvtC00LjQvNC40YDRgdGM0LrQsCwgNTEsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1450000274686")
  section#contact-us.section.contact-us
    .container
      .row
        .col-md-4.wrapper-2          
          include contactForm.jade
        .col-md-8.wrapper-1#contactForm
          form.contact-form
            h5.subpage-title= getInTouch
            .row
              .col-md-4
                input.input.form-control(placeholder=name, type='text')
              .col-md-4
                input.input.form-control(placeholder='Email', type='text')
              .col-md-4
                input.input.form-control(placeholder=subject, type='text')
            textarea.form-control(placeholder=yourMessage, rows='3')
            button.btn.btn-flat.flat-color= submit
