.module.tab-pane.section#directions
  .container
    .row
      .container-fluid= directionsMain
      .detailsContainer

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/ECONOMICS.jpg);")
            h4= direction1
            .details= direction1Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/TRANSPORT.jpg);")
            h4= direction2
            .details= direction2Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/development.jpg);")
            h4= direction3
            .details= direction3Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/ENVIRONMENT.jpg);")
            h4= direction4
            .details= direction4Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/RESEARCH.jpg);")
            h4= direction5
            .details= direction5Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/CULTURE.jpg);")
            h4= direction6
            .details= direction6Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/TOURISM.jpg);")
            h4= direction7
            .details= direction7Details

        .col-xs-12.col-sm-6.col-md-6.wrapper-1
          .service.service-2
            span.service-icon(style="background-image: url(../img/directions/trainings.jpg);")
            h4= direction8
            .details= direction8Details