.module.tab-pane.colored-wrapper.section#directions
  .container
    .row
      .container-fluid= directionsMain
      .detailsContainer

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-eur
            h4= direction1
            .details= direction1Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-truck
            h4= direction2
            .details= direction2Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-compass
            h4= direction3
            .details= direction3Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-leaf
            h4= direction4
            .details= direction4Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-book
            h4= direction5
            .details= direction5Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-picture
            h4= direction6
            .details= direction6Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-github
            h4= direction7
            .details= direction7Details

        .col-xs-12.col-sm-6.col-md-4.wrapper-1
          .service.service-2
            span.service-icon
              i.icon-group
            h4= direction8
            .details= direction8Details