.module.tab-pane.colored-wrapper.section#directions
  .container
    .row
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-eur
          h4= directionEconomy
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-truck
          h4= directionTransport
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-compass
          h4= directionInvestments
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-leaf
          h4= directionNature
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-book
          h4= directionEducation
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-picture
          h4= directionCulture
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-github
          h4= directionNonCommercial
      .col-xs-12.col-sm-6.col-md-4.wrapper-1
        .service.service-2
          span.service-icon
            i.icon-group
          h4= directionTrainings