.module.tab-pane.colored-wrapper.section#examples
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3.portfolio-item-wrapper.artwork.creative.isotope-item
        .portfolio-item
          .portfolio-thumb
            i.icon-bolt
            .image-overlay
            a.portfolio-link(href='javascript:void(0)')
              i.icon-link
          .portfolio-content
            h5= examplesEnergy
      .col-xs-12.col-sm-6.col-md-3.portfolio-item-wrapper.artwork.creative.isotope-item
        .portfolio-item
          .portfolio-thumb
            i.icon-user-md
            .image-overlay
            a.portfolio-link(href='javascript:void(0)')
              i.icon-link
          .portfolio-content
            h5= examplesMedicine
      .col-xs-12.col-sm-6.col-md-3.portfolio-item-wrapper.artwork.creative.isotope-item
        .portfolio-item
          .portfolio-thumb
            i.icon-leaf
            .image-overlay
            a.portfolio-link(href='javascript:void(0)')
              i.icon-link
          .portfolio-content
            h5= examplesNature
      .col-xs-12.col-sm-6.col-md-3.portfolio-item-wrapper.artwork.creative.isotope-item
        .portfolio-item
          .portfolio-thumb
            i.icon-laptop
            .image-overlay
            a.portfolio-link(href='javascript:void(0)')
              i.icon-link
          .portfolio-content
            h5= examplesIT
      .col-xs-12.col-sm-6.col-md-3.portfolio-item-wrapper.artwork.creative.isotope-item
        .portfolio-item
          .portfolio-thumb
            i.icon-rocket
            .image-overlay
            a.portfolio-link(href='javascript:void(0)')
              i.icon-link
          .portfolio-content
            h5= examplesTransport