.module.tab-pane.section#lobbying
  .container
    .row
      .col-md-12.wrapper-1
        p= lobbying_1
        p= lobbying_2
        p= lobbying_3
        p= lobbying_4
        p= lobbying_5
        ul
            li= lobbying_5_part_1
            li= lobbying_5_part_2
            li= lobbying_5_part_3