.module.tab-pane#ourMethods
  section.section.colored-wrapper
    .container
        .row
          ul.nav#servicesTabs.col-md-7.col-xs-12
            li.active: a(href='#method1', data-toggle='tab', aria-expanded='true')
              .service.service-2
                span.service-icon
                  i.icon-eur
                h4= methodsTitle1
            li: a(href='#method2', data-toggle='tab', aria-expanded='false')
              .service.service-2
                span.service-icon
                  i.icon-bullhorn
                h4= methodsTitle2
            li: a(href='#method3', data-toggle='tab', aria-expanded='false')
              .service.service-2
                span.service-icon
                  i.icon-thumbs-up-alt
                h4= methodsTitle3

          .tab-content.col-md-5.col-xs-12
            #method1.tab-pane.active
              h5.subpage-title= methodsTitle1
              p= methodsText1
            #method2.tab-pane
              h5.subpage-title= methodsTitle2
              p= methodsText2
            #method3.tab-pane
              h5.subpage-title= methodsTitle3
              p= methodsText3
